.maps__directions{
        position: absolute;
        bottom: 28%;
        right: 37%;
        padding: 0px;
        color: blue;
        opacity: 0;
        transform: scale(1.5);
        animation: showRoute .5s linear forwards;
        cursor: pointer;

}
@keyframes showRoute {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}