.sectionRoutes{
    width: 100%;
    height: 100vh;
    position: relative;
    // background-image: url(../../../../assets/);
    background-size: cover;
    
    // display: flex;
}
.containerMaps{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
}
.maps{
    &__directions{
        position: absolute;
        bottom: 5px;
        right: 12%;
        color: blue;
        opacity: 0;
        animation: showRoute 1s linear 2s forwards;
    }
    &__screen{
        height: min-content;
        // margin: 0 auto;
    }
}
@keyframes showRoute {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}