<app-header></app-header>
<section class="section">
    <div class="section__circle"></div>
    <div class="section__container">
        <div class="section__decoration"></div>
        <app-map-screen></app-map-screen>
            

        <app-maps-btns 
        (map)="getMarkerByMall( $event )">
        </app-maps-btns>




        <span (click)="getDirections()" class="maps__directions" *ngIf="buttonActive">
            <mat-icon>directions</mat-icon>
        </span>

    </div>
</section>


