<body class="body">
    <main class="main">
        <div class="header">
            <p class="header__user">Usuario</p>
            <nav class="header__menu" [class.show]="showMenu">
                <ul class="header__list">
                <div class="header__close">
                    <button mat-icon-button class="header__btnClose" (click)="toggleMenu()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <li class="header__item">
                    <mat-icon mat-icon class="header__icon">place</mat-icon>
                    <a mat-list-item
                    routerLink="./maps"
                    class="header__link">
                    <p class="header__text">Rutas</p>
                    </a>
                </li>
                <li class="header__item">
                    <mat-icon mat-list-icon class="header__icon">store</mat-icon>
                    <a routerLink="./stock"
                    mat-list-item
                    class="header__link">
                    <p class="header__text">Tiendas</p>
                    </a>
                </li>
                <li class="header__item">
                    <mat-icon mat-list-icon class="header__icon">sell</mat-icon>
                    <a routerLink="./products"
                    mat-list-item
                    class="header__link">
                    <p class="header__text">Productos</p>
                    </a>
                </li>
                <li class="header__item">
                    <mat-icon mat-list-icon class="header__icon">paid</mat-icon>
                    <a routerLink="./budget"
                    mat-list-item
                    class="header__link">
                    <p class="header__text">Presupuesto</p>
                    </a>
                </li>
                <button mat-button>logout</button>
            </ul>
        </nav>
        <button mat-icon-button class="header__btnMenu" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <!-- <app-maps-routes></app-maps-routes> -->
        <router-outlet></router-outlet>
        <app-header></app-header>
    </main>
</body>




