.menu{
    width: 100%;
    padding-left: 5vw;
    position: relative;
    &__items{
        list-style: none;
        margin: 20px 0;
    }
    &__text{
        width: max-content;
        color: #000;
        font-size: var(--normal-text);
        opacity: 0;
        animation: showMenu 1s 1.1s linear forwards;
        cursor: pointer;
        &:hover{
            font-weight: bold;
            color: var(--blue-gradient);
            transform: scale(1.15);
        }
    }
}
.active{
    font-weight: bold;
    color: var(--blue-gradient);
    transform: scale(1.15);
}
@keyframes showMenu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}