<section class="containerBudget">
    <app-todo-filters 
    [myObjects]="myObjects"
    (newQuery)="getTodo( $event)"
    (newMall)="getMall( $event )"
    ></app-todo-filters>

    <div class="products">
        <div *ngFor="let todo of myObjects" class="product">
            <p>{{todo.productName}}</p>
            <p>{{todo.store}}</p>
            <button (click)="decrement(todo)">Restar</button>
            <p>{{ todo.unit }}</p>
            <button (click)="increment(todo)">Sumar</button>
            <p>{{todo.price | number}}</p>
            <button mat-button (click)="deleteTodo(todo)">Borrar</button>
        </div>
    
        <br>
        <p class="total">Total: {{completePrice | number}}</p>
    </div>
</section>