.btn__location{
    padding: 5px;
    color: blue;
    position: fixed;
    right: 6vw;
    bottom: 90px;
    cursor: pointer;
}
.btn__close{
    padding: 5px;
    color: black;
    position: fixed;
    right: 6vw;
    top: 90px;
    cursor: pointer;
}