<app-header></app-header>
<body>
  <section class="hero">
    <div class="hero__banner">
      <img src="../../../assets/imegen1.webp" class="hero__img" alt="">
    </div>
      <div class="hero__description">
        <h1 class="hero__title"><span class="description__primary">They</span>Mobile</h1>
        <p class="hero__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod non id,
          earum adipisci culpa beatae fugit nostrum sunt eligendi reiciendis cumque
          obcaecati, odit aspernatur! Porro repellendus ab repudiandae? Tenetur,
          quia! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta earum tenetur eos nulla. Soluta fuga est ex nemo placeat ut aut numquam nulla molestiae, quae officiis eaque reprehenderit, fugit labore!
        </p>
      </div>
  </section>

  <div class="routing">
    <div class="paragraph2">
      <h2 class="title_routing">
        <span class="txt-primary">Brouser</span>Routing
      </h2>
      <br />
      <br />
      <p class="paragraph_routing">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod non id,
        earum adipisci culpa beatae fugit nostrum sunt eligendi reiciendis cumque
        obcaecati, odit aspernatur! Porro repellendus ab repudiandae? Tenetur,
        quia!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
        distinctio facilis delectus? Sint, adipisci ipsam quidem, corrupti
        quibusdam deleniti, eius obcaecati eligendi quis placeat unde excepturi
        quisquam accusamus quod voluptatem!
      </p>
    </div>
    <div class="card_routing"></div>
  </div>
</body>
  
  
  <!-- <div class="card_shop">
  <mat-card class="cards">
    <div class="card_text">
      <img class="img" src="../../../assets/t1.webp" alt="">
      <br>
    <p>GRAN ESTACION</p>
    
  </div>
  </mat-card>
  <mat-card class="cards">
    <div class="card_text">
      <img class="img" src="../../../assets/t2.png" alt="">
      <br>
    <p>PLAZA CENTRAL</p>
  </div>
  </mat-card>
  <mat-card class="cards2">
    <div class="card_text">
      <img class="img" src="../../../assets/t3.jpg" alt="">
      <br>
    <p>CENTRO MAYOR</p>
  </div>
  </mat-card>
  <mat-card class="cards2">
    <div class="card_text">
      <img class="img" src="../../../assets/t4.webp" alt="">
      <br>
    <p>PLAZA DE LAS AMERICAS</p>
  </div>
  </mat-card>
  
  </div> -->
  
  
  <div class="card_price">
  
    <router-outlet></router-outlet>
  </div>
  
