<div class="containerListProducts" >
    <div class="product" *ngFor="let product of products">
            <img src="{{product.productImage}}" alt="product-image" class="product__img">
        <div class="product__content">
            <div class="product__main">
                <div class="product__info">
                    <h3 class="product__title">{{product.productInfo}}</h3>
                    <p class="product__text">{{product.mall}}</p>
                    <p class="product__text product__store">{{product.store}}</p>
                    <p class="product__text">{{product.price | number}}</p>
                    <p class="product__text">Stock: {{product.cant}}</p>
                </div>
            </div>
        </div>
        <mat-icon class="product__close">close</mat-icon>
        <mat-icon class="product__triangle">change_history</mat-icon>
        <mat-icon class="product__flash">flash_on</mat-icon>
        <mat-icon class="product__crop">crop</mat-icon>

        <div class="hover">
            <div class="hover__container"></div>
        </div>
    </div>
</div>