/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
:root{
  // --body-color: rgba(173,181,189,1);
  // --body-color: rgb(238,237,255);
  --header-color: rgb(6,19,43);
  --body-color: rgb(228,235,241);
  --gray: rgb(37, 37, 37);
  --blue: rgb(10, 239, 255);



  --normal-text: clamp(.8rem, 3.1vw, 1.1rem);

  --blue-header: rgb(6, 19, 43);
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: rgb(223, 234, 253);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --white: hsl(0, 0%, 100%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
  --body-font: 'Open Sans', sans-serif;
  --heading-font: 'Raleway', sans-serif;
  --padding-container: 60px 0;

}
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

// @font-face {
//     font-family: Poppins-Regular;
//     src: url('./assets/fonts/poppins/Poppins-Regular.ttf'); 
//   }
  
//   @font-face {
//     font-family: Poppins-Medium;
//     src: url('./assets/fonts/poppins/Poppins-Medium.ttf'); 
//   }
  
//   @font-face {
//     font-family: Poppins-Bold;
//     src: url('./assets/fonts/poppins/Poppins-Bold.ttf'); 
//   }
  
//   @font-face {
//     font-family: Poppins-SemiBold;
//     src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf'); 
//   }
  html,body{
    margin: 0;
  }
  .section{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--blue-gradient);
    top: 0;
    overflow: hidden;
    &__circle{
        width: 550px;
        height: 700px;
        background: var(--white);
        border-radius: 50%;
        position: absolute;
        left: -10%;
        
    }
    &__container{
        width: 80%;
        height: 85%;
        position: relative;
        margin: 100px auto 0;
        padding: 20px 30px;
        border: 1px solid #000;
        border-radius: 35px;
        background: rgb(6, 19, 43);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }
    &__decoration{
        width: 50%;
        height: 110%;
        position: absolute;
        right: -13%;
        bottom: -30%;
        border-radius: 40px;
        background: var(--white);
        transform: rotate(20deg) translateY(420px) translateX(420px);
        animation: showDecoration 1s linear forwards;
    }
}
@keyframes showDecoration {
    0%{
        transform: rotate(20deg) translateY(420px) translateX(420px);
    }
    100%{
        transform: rotate(20deg) translateY(0px) translateX(0px);
    }
}

    
 